<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h1>writr new chat</h1>

    <form action="/chats" method="post">
        <input type="text" placeholder="Who are you" name="from">
        <br><br>
        <input type="text" placeholder="To whom" name="to">
        <br><br>
        <textarea name="msg" placeholder="Write your message"></textarea>
        <br><br>
        <button>Send</button>
    </form>
    
</body>
</html>