<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>this is home page.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In qui reprehenderit eum esse iusto. Magni harum perferendis, sequi aspernatur molestias, inventore cupiditate tempore ex veritatis odit laborum quia mollitia dolorum.</p>
    <button>click me</button>
</body>
</html>