<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h2 class="col-6 offset-3 mb-3">SignUp For WanderLust</h2>
  <div class="col-6 offset-3">
    <form action="/signup" method="post" class="needs-validation" novalidate>

        <div>
            <label for="username" class="form-label">username:</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              required
            />
          
          <div class="valid-feedback">
            Title Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid username.
          </div>
        </div>

        <div>
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
            />
        </div>

        <div>
            <label for="password" class="form-label">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            />
        </div>

        <button class="btn btn-success mt-3">SignUp</button>

    </form>
  </div>
</div>
