<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit POST</title>
</head>
<body>
    <h2>Edit your Post</h2>
    <p>Post ID : <%= post.id %></p>
    <p>Username : <%= post.username %> </p>
    <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
        <textarea name="content" rows="10" cols="35"><%= post.content %> </textarea>
        <button>Save</button>
    </form>
</body>
</html>